<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>loshiReport test</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <!-- <script src="../dist/loshi-report.0.0.1.js"></script> -->
		<script>
	!function(e,t){"object"==typeof exports&&"undefined"!=typeof module?module.exports=t():"function"==typeof define&&define.amd?define(t):e.LoshiReport=t()}(this,function(){"use strict";var e=(new Date).getTime(),t={beginTime:e,loadTime:0,ajaxTime:0,fetchTime:0};function o(){return{errorList:[],fetchNum:0,loadNum:0,ajaxLength:0,fetLength:0,ajaxMsg:[],goingType:"",haveAjax:!1,haveFetch:!1,preUrl:document.referrer&&document.referrer!==window.location.href?document.referrer:"",appVersion:navigator.appVersion,page:window.location.href,hadInitReport:!1}}function n(e){return"[object Function]"===function(e){return Object.prototype.toString.call(e)}(e)}Object.defineProperty(t,"beginTime",{value:e,writable:!1,configurable:!1});var r={reportApi:"http://localhost:7001/api",outtime:1e3,filterUrl:["http://localhost:35729/livereload.js?snipver=1","http://localhost:8000/sockjs-node/info"],isPage:!0,isResource:!0,isError:!0};function a(e){var t=r;return e&&(t=r[e]),t}var i={t:"",n:"js",msg:"",data:{}};function s(e){return Object.assign({},i,{t:(new Date).getTime(),method:"GET"},e)}var c="function"==typeof Symbol&&"symbol"==typeof Symbol.iterator?function(e){return typeof e}:function(e){return e&&"function"==typeof Symbol&&e.constructor===Symbol&&e!==Symbol.prototype?"symbol":typeof e},d=function(e,t){if(!(e instanceof t))throw new TypeError("Cannot call a class as a function")},u=function(){function e(e,t){for(var o=0;o<t.length;o++){var n=t[o];n.enumerable=n.enumerable||!1,n.configurable=!0,"value"in n&&(n.writable=!0),Object.defineProperty(e,n.key,n)}}return function(t,o,n){return o&&e(t.prototype,o),n&&e(t,n),t}}();function l(e){return Object.assign({},i,{t:(new Date).getTime(),n:"ajax",msg:e.statusText||"ajax request error",method:e.method,data:{resourceUrl:e.responseURL,text:e.statusText,status:e.status,payload:e.xhr.body}})}var h=null,f=Object.assign({},o());function p(){var e=t.loadTime,o=t.ajaxTime,n=t.fetchTime;f.haveAjax&&f.haveFetch&&e&&o&&n?console.log("loadTime:"+e+",ajaxTime:"+o+",fetchTime:"+n):f.haveAjax&&!f.haveFetch&&e&&o?console.log("loadTime:"+e+",ajaxTime:"+o):!f.haveAjax&&f.haveFetch&&e&&n?console.log("loadTime:"+e+",fetchTime:"+n):f.haveAjax||f.haveFetch||!e||console.log("loadTime:"+e)}function g(e){f.loadNum+=1,f.loadNum===f.ajaxLength&&("load"===e?console.log("走了AJAX onload 方法"):"readychange"===e?console.log("走了AJAX onreadystatechange 方法"):console.log("走了 error 方法"),f.ajaxLength=f.loadNum=0,t.ajaxTime=(new Date).getTime()-t.beginTime,p())}function m(e){if(f.ajaxMsg&&f.ajaxMsg.length)for(var t=0,o=f.ajaxMsg.length;t<o;t++)f.ajaxMsg[t].url===e.name&&(json.method=f.ajaxMsg[t].method||"GET",json.type=f.ajaxMsg[t].type||json.type)}function y(e){f.errorList.push(e)}function w(){t.loadTime=(new Date).getTime()-t.beginTime,p();var e=Object.assign({},f);setTimeout(function(){f=Object.assign({},o(),{hadInitReport:f.hadInitReport});var t,r,i={appId:h,time:(new Date).getTime(),page:e.page,preUrl:e.preUrl,appVersion:e.appVersion,errorList:e.errorList,performance:a("isPage")?function(){if(window.performance){var e=window.performance.timing;return{dnst:e.domainLookupEnd-e.domainLookupStart||0,tcpt:e.connectEnd-e.connectStart||0,wit:e.responseStart-e.navigationStart||0,domt:e.domContentLoadedEventEnd-e.navigationStart||0,lodt:e.loadEventEnd-e.navigationStart||0,radt:e.fetchStart-e.navigationStart||0,rdit:e.redirectEnd-e.redirectStart||0,uodt:e.unloadEventEnd-e.unloadEventStart||0,reqt:e.responseEnd-e.requestStart||0,andt:e.domComplete-e.domInteractive||0}}}():null,resourceList:a("isResource")?function(e){if(window.performance||window.performance.getEntries)return(window.performance.getEntriesByType("resource")||[]).map(function(t){var o={name:t.name,method:"GET",type:t.initiatorType,duration:t.duration.toFixed(2)||0,decodedBodySize:t.decodedBodySize||0,nextHopProtocol:t.nextHopProtocol};return n(e)&&e(o),o})}(m):null,screenwidth:document.documentElement.clientWidth||document.body.clientWidth,screenheight:document.documentElement.clientHeight||document.body.clientHeight};t=i,r=!0,window.fetch&&t&&(console.log("reportObj",t),window.fetch(a().reportApi,{method:"POST",mode:"cors",headers:{"Content-Type":"application/json"},type:"report-data",body:JSON.stringify(t)}).then(function(){console.log("fetch then",f)}).finally(function(){r&&(f.hadInitReport=!0),console.log("fetch finally state",f)}))},a("outtime")),console.log("loadEvent",t)}return new(function(){function e(){d(this,e)}return u(e,[{key:"init",value:function(e,t){var o;Object.defineProperty(window,"LoshiReport",{value:this,configurable:!1,writable:!1}),Object.freeze(window.LoshiReport),Object.freeze(window.LoshiReport.__proto__),h=function(e){var t=null;if(e&&e.appId)t=e.appId,delete e.appId;else{var o=Array.from(document.getElementsByTagName("script")),n=new RegExp(/loshi-report.*?js/),r=o.find(function(e){return n.test(e.getAttribute("src"))});r&&(t=r.getAttribute("src").split("?")[1])}return t}(e),(o=e)&&Object.assign(r,o),function(e,t){n(t)&&e&&window.addEventListener("load",t,!1)}(!0,w),function(e,t){n(t)&&e&&(window.addEventListener("error",function(e){if(e.target!==window){console.log("window error listener",e);var o=s({n:"resource",msg:e.target.localName+" is load error",data:{target:e.target.localName,type:e.type,resourceUrl:e.target.currentSrc}});t(o)}},!0),window.onerror=function(e,o,n,r,a){console.log("window onerror",e,o,n,r,a);var i=s({col:r||window.event&&window.event.errorCharacter||0,msg:a&&a.stack?a.stack.toString():e,data:{resourceUrl:o,line:n,col:r}});setTimeout(function(){return t(i)},0)})}(a().isError,y),function(e,t){if(e&&t)return window._ahrealxhr=window._ahrealxhr||window.XMLHttpRequest,window.XMLHttpRequest=function(){for(var e in this.xhr=new window._ahrealxhr,this.xhr){var t="";try{t=c(this.xhr[e])}catch(e){}"function"===t?this[e]=r(e):Object.defineProperty(this,e,{get:o(e),set:n(e)})}},window._ahrealxhr;function o(e){return function(){return this.hasOwnProperty(e+"_")?this[e+"_"]:this.xhr[e]}}function n(e){return function(o){var n=this.xhr,r=this;0==e.indexOf("on")?t[e]?n[e]=function(){t[e](r)||o.apply(n,arguments)}:n[e]=o:this[e+"_"]=o}}function r(e){return function(){var o=[].slice.call(arguments);if(!t[e]||!t[e].call(this,o,this.xhr))return this.xhr[e].apply(this.xhr,o)}}}(a().isError,{onreadystatechange:function(e){console.log("onreadystatechange",e.readyState),4===e.readyState&&setTimeout(function(){"load"!==f.goingType&&(f.goingType="readychange",g("readychange"),(e.status<200||e.status>300)&&(e.method=e.args.method,f.hadInitReport||f.errorList.push(l(e))))},600)},onerror:function(e){console.log("onerror",e.readyState),g("error"),e.args&&(e.method=e.args.method,e.responseURL=e.args.url,e.statusText="ajax request error"),f.hadInitReport||f.errorList.push(l(e))},onload:function(e){if(console.log("onload",e.readyState),4===e.readyState){if("readychange"===f.goingType)return;f.goingType="load",g("load"),(e.status<200||e.status>300)&&(e.method=e.args.method,f.hadInitReport||f.errorList.push(l(e)))}},send:function(e,t){var o={};e&&e.length&&e[0]&&e[0].split("&").forEach(function(e){var t=e.split("=");o[t[0]]=t[1]||""}),t.body=o},open:function(e,t){var o=a().filterUrl;if(o&&o.length){var n=!1;if(o.forEach(function(t){-1!==e[1].indexOf(t)&&(n=!0)}),n)return}var r={url:e[1],method:e[0]||"GET",type:"xmlhttprequest"};this.args=r,f.hadInitReport||(f.ajaxMsg.push(r),f.ajaxLength=f.ajaxLength+1,f.haveAjax=!0)}})}}]),e}())});



			
					</script>
	<script>
        LoshiReport
          .init({
						appId:'4b22aac0a13211e89fdfb17a1338eea5',
            reportApi: 'http://localhost:7001/loshi/api/report'
          })
	</script>
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<div>
        <h1>loshiReport test</h1>

		<ul>
			<li>1</li>
			<li>2</li>
			<li>3</li>
			<li>4</li>
			<li>5</li>
		</ul>

		<img src="http://idsfafsadf">
		<img src="http://image.uczzd.cn/3238272118782049804.jpg?id=0&from=export&height=140&width=270" id="img1">
	</div>
	<script>
		$(document).ready(function(){
			$.ajax({
		    type: 'get',
		    url: 'http://localhost:7001/com/guest/home/api/shop/getHomeInitInf?getreport=test',
		    success: data => {
		      // console.log(data)
		    }
			})
			
			

			$.ajax({
				url: "test.html",
				context: document.body
			}).done(function() {
				$( this ).addClass( "done" );
			});

		  // fetch('http://localhost:7001/guest/order/api/order/getOrde',{
		  // 	method: 'POST',
		  // }).then(function(response){
		  // 	console.log('++++')
		  // })

		  // var req = new Request('http://localhost:7001/guest/home/api/shop/getHomeInitInfo', {method: 'GET', cache: 'reload'});
		  // fetch(req).then(function(response){
		  // 	console.log('-----')
		  // })

		  $.ajax({
		    type: 'post',
				url: 'http://localhost:7001/guest/order/api/order/getOrder',
				data:{
					postreport:'post'
				},
		    success: data => {
		      // console.log(data)
		    }
				})
		// console.log(fafsdfsdfasfd)
			});

	</script>
</body>
</html>


