<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Loshi Manager</title>
<link href="/public/index.1b466bc0.css" rel="stylesheet"></head>

<body>
  <div id="root"></div>
<script type="text/javascript" src="/public/index.20071c1e.js"></script></body>
<script>
  window.parent.postMessage({type: 'syn-page-height', value: 1000}, '*')
</script>
</html>
